*.so
.eggs/
build/
checkpoints/iwslt14.de-en/supertransformer/space1/tensorboard
checkpoints/iwslt14.de-en/supertransformer/space1/*.pt
process.sh
data/binary/iwslt14_de_en/
data/binary/wmt16_en_de/
data/binary/wmt14_en_fr/
data/binary/wmt19_en_de/
downloaded_models/
errors/onnx/*.txt
errors/rknn/*.txt
fairseq_original/
fairseq_to_trace/
fairseq.egg-info/
!latency_dataset/
latency_dataset/
!configs/iwslt14.de-en/latency_dataset/
!configs/wmt14.en-de/latency_dataset/
!configs/wmt14.en-fr/latency_dataset/
!configs/wmt19.en-de/latency_dataset/
onnx_models/
rknn_models/
__pycache__/
.DS_Store
*.onnx

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
