*.so
.eggs/
.vscode/
build/
checkpoints/
process.sh
data/binary/iwslt14_de_en/
data/binary/wmt16_en_de/
data/binary/wmt14_en_fr/
data/binary/wmt19_en_de/
downloaded_models/
errors/onnx/*.txt
errors/rknn/*.txt
errors/rknn/convert_rknn/
fairseq_original/
fairseq_to_trace/
fairseq.egg-info/
fairseq/data/data_utils_fast.cpp
fairseq/data/token_block_utils_fast.c
!latency_dataset/
latency_dataset/
!errors/latency_dataset
onnx_models/
rknn_models/
__pycache__/
.DS_Store
*.onnx

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
