.eggs/
build/
checkpoints/iwslt14.de-en/supertransformer/space1/tensorboard
checkpoints/iwslt14.de-en/supertransformer/space1/*.pt
subtransformer/
process.sh
!data/binary/iwslt14_de_en/
data/binary/iwslt14_de_en/*
!data/binary/iwslt14_de_en/*.tgz
!data/binary/wmt16_en_de/
data/binary/wmt16_en_de/*
!data/binary/wmt14.en-de/*.tgz
!data/binary/wmt14_en_fr/
data/binary/wmt14_en_fr/*
!data/binary/wmt14_en_fr/*.tgz
!data/binary/wmt19_en_de/
data/binary/wmt19_en_de/*
!data/binary/wmt19_en_de/*.tgz
downloaded_models/
fairseq_original/
fairseq_to_trace/
fairseq.egg-info/
latency_dataset/
onnx_models/
__pycache__/
.DS_Store
onnx_tracewarning.md
